
/* horizontal */
/* .center{

    border:5px solid; 

    margin:auto; 

    width:50%; 

    padding:10px; 
} */

/* vertically */
/* .center{
    border:5px solid; 

    position:absolute;

    top:50%;

    transform:translate(0,-50%); 

    padding:10px;
} */

/* // :horizontal and verticla */


/* .center{

    border:1px solid;

    position:absolute; 

    top:50%; 
    left:50%; 

    transform: translate(-50%, -50%);

    padding:10px;
} */

/* 
.parent{

    background:grey; 

    height:300px; 

    width:300px; 

    position: relative;
}

.child{

    background:orange;

    width:100px; 

    height:100px;

    position:absolute;
    top:50%; 
    left:50%;

    margin: -50px 0 0 -50px;
} */

/* //using flex */
/* gg */